.alert {
  margin-bottom: 1px;
  //   height: 30px;
  //   line-height: 30px;
  padding: 7px 15px;
}

.alert-dismissible .btn-close {
  padding: 0.7rem 1rem;
}

.todoAnimation {
  animation: todoAnimation 300ms;
  animation-timing-function: ease-out;
}

@keyframes todoAnimation {
  from {
    opacity: 0;
    transform: "translateY(-20px)";
  }

  to {
    opacity: 1;
    transform: "translateY(0)";
  }
}
