# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash
        working-directory: ./todoapp

    strategy:
      matrix:
        node-version: [25.x]
        os: [ubuntu-latest, windows-latest]

    steps:
      #V5.0.1
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Use Node.js ${{ matrix.node-version }}
        #V6.0.0
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: todoapp/package-lock.json
      - run: npm ci --no-progress --loglevel=error --no-fund --legacy-peer-deps
      - run: npm run build --if-present
      - run: npm test
